<div class="feature-image pt92 mb8"><img src="https://i.imgur.com/OZp7kIl.jpg"></div>
<section class="feature">
  <div class="feature-items container">
    <p class="subtitle wf-nicomoji">What We Promise</p>
    <hr>
    <div class="level">
      <div class="level-item text-center">
        <p class="subtitle mb8">
          <span class="icon">
            <i class="carrot big fas fa-carrot"></i>
          </span>
        </p>
        <p class="heading wf-nicomoji">100% Organic</p>
        <p class="description">All vegetables and fruits<br>are without any artificial chemical.</p>
      </div>
      <div class="level-item text-center">
        <p class="subtitle mb8">
          <span class="icon">
            <i class="big fas fa-user-clock"></i>
          </span>
        </p>
        <p class="heading wf-nicomoji">Fresh delivery</p>
        <p class="description">Quick delivery within 1 hour<br>after your order placement.</p>
      </div>
      <div class="level-item text-center">
        <p class="subtitle mb8">
          <span class="margin-right icon">
            <i class="big fas fa-envelope-open"></i>
          </span>
        </p>
        <p class="heading wf-nicomoji">Member Benefits</p>
        <p class="description">Take advantage of exclusive offers<br>that only members can reach.</p>
      </div>
    </div>
  </div>
</section>
<section class="feature">
  <div class="feature-items container">
    <p class="subtitle wf-nicomoji">Simple to order</p>
    <hr>
    <div class="level2 font-grey">
      <div class="level-item2 text-center">
        <p class="level-item-branch mr32"><img src="https://i.imgur.com/t15wZzy.jpg"></p>
        <p class="level-item-branch vm tc">Select ingredients that you would like for your salad.</p>
      </div>
      <p class="subtitle mb8">
        <span class="icon">
          <i class="fas fa-arrow-down"></i>
        </span>
      </p>
      <div class="level-item2 text-center">
        <p class="level-item-branch vm mr32">Choose your pick up location from Google map.</p>
        <p class="level-item-branch"><img src="https://i.imgur.com/X8Hu8mr.jpg"></p>
      </div>
      <p class="subtitle mb8">
        <span class="icon">
          <i class="fas fa-arrow-down"></i>
        </span>
      </p>
      <div class="level-item2 text-center">
        <p class="level-item-branch mr32"><img src="https://i.imgur.com/sY3SOqt.jpg"></p>
        <p class="level-item-branch vm">We prepare salad as you order.</p>
      </div>
      <p class="subtitle mb8">
        <span class="icon">
          <i class="fas fa-arrow-down"></i>
        </span>
      </p>
      <div class="level-item2 text-center">
        <p class="level-item-branch vm mr32">When your salad is ready, deliver it to your place.</p>
        <p class="level-item-branch"><img src="https://i.imgur.com/VfaIBxS.jpg"></p>
      </div>
      <a class="btn-lg btn-custom nav-link is-big font-grey wf-nicomoji" href="/categories/1">Make Your Original Salad</a>
    </div>
  </div>
</section>
