<section class="keyvisual">
  <div class="message">
    <h1 class="title wf-nicomoji mb8">Be<br>Natural.</h1>
    <a class="btn-lg btn-custom nav-link is-big font-grey wf-nicomoji" href="/categories/1">Make Your Original Salad</a>
  </div>
</section>
