<section class="keyvisual section">
  <div class="message container is-centered">
    <h1 class="title wf-nicomoji">Be Natural.</h1>
    <a class="button is-rounded is-big wf-nicomoji" href="#">Explore</a>
  </div>
</section>

<section class="feature section">
  <p class="subtitle wf-nicomoji">What We Promise</p>

  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="subtitle">
          <span class="icon">
            <i class="mdi-dark big fas fa-carrot"></i>
          </span>
        </p>
        <p class="heading wf-nicomoji">100% Organic</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="subtitle">
          <span class="icon">
            <i class="mdi-dark big fas fa-user-clock"></i>
          </span>
        </p>
        <p class="heading wf-nicomoji">Fresh delivery within 24h</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="subtitle">
          <span class="icon">
            <i class="mdi-dark big fas fa-utensils"></i>
          </span>
        </p>
        <p class="heading wf-nicomoji">sensible cooking instruction</p>
      </div>
    </div>
  </nav>
</section>
