<div class="keyvisual">
  <div class="message container">
    <h1 class="title wf-nicomoji">Be Natural.</h1>
    <a class="btn-lg btn-custom is-big font-grey wf-nicomoji" href="/products">Explore</a>
  </div>
</div>

<div class="feature">
  <div class="feature-items container">
    <p class="subtitle wf-nicomoji">What We Promise</p>

    <div class="level">
      <div class="level-item text-center">
        <div>
          <p class="subtitle">
            <span class="icon">
              <i class="carrot big fas fa-carrot"></i>
            </span>
          </p>
          <p class="heading wf-nicomoji">100% Organic</p>
          <p class="description">All vegetables and fruits<br>are without any artificial chemical.</p>
        </div>
      </div>
      <div class="level-item text-center">
        <div>
          <p class="subtitle">
            <span class="icon">
              <i class="big fas fa-user-clock"></i>
            </span>
          </p>
          <p class="heading wf-nicomoji">Fresh delivery</p>
          <p class="description">Directly sent off from a farm within 24 hours<br>after your order placement.</p>
        </div>
      </div>
      <div class="level-item text-center">
        <div>
          <p class="subtitle">
            <span class="margin-right icon">
              <i class="big fas fa-envelope-open"></i>
            </span>
          </p>
          <p class="heading wf-nicomoji">Member Benefits</p>
          <p class="description">Take advantage of exclusive offers<br>that only members can reach.</p>
        </div>
      </div>
    </div>
  </div>
</div>
