/* Global */
.wf-nicomoji {
  font-family: "Nico Moji";
}

.mr8 {
  margin-right: 8px;
}

/*↓↓↓　bootstrap setting ↓↓↓*/
@import "bootstrap";
/* Header */
.header {
  width: 100%;
  height: 5em;
  background-color: #87992f;
  position: fixed;
  display: flex;
  align-items: center;
}

.header-left {
  width: 50%;
  justify-content: flex-start;
  z-index: 10;
}

.header-right {
  width: 50%;
  margin-left: 50%;
  padding-right: 4px;
  justify-content: flex-end;
  z-index: 10;
}

.font-grey {
  color: #4d4d4d;
}

.nav-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4px;
}

.navbar-brand img {
  width: 75px;
  height: 50px;
}

@media screen and (max-width:320px) {
  .navbar-brand img {
    width: 51px;
    height: 34px;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media screen and (max-width:768px) {
  .navbar-collapse {
    background-color: #ffffff;
  }

  .indent {
    margin-left: 1em;
    margin-bottom: 1em;
  }
}

.btn-custom {
  background-color: #e6e6e6;
  text-align: center;
}
/* Footer */
.footer {
  max-height: 6em;
  padding: 8px;
  background-color: #87992f;
  width: 100%;
  height: auto;
}

.copyright {
  text-align: center;
  vertical-align: middle;
}
/* index top */
.keyvisual {
  background-image: url("https://i.imgur.com/lSto43D.jpg");
  background-size: cover;
  background-position: 50% 50%;
  min-height: 480px;
  width: 100%;
  height: auto;
  position: relative;
}

.message {
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.is-big {
  width: 300px;
  font-size: 1.0em;
  padding: 16px 24px;
}

.title {
  font-size: 3.5em;
  color: #ffffff;
  margin-bottom: 8px;
}

.feature {
  width: 100%;
  height: auto;
  padding: 24px;
  position: relative;
}

.feature-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.level {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #383838;
}

@media screen and (min-width: 769px){
.level-item {
  width: 30%;
  height: auto;
}
}

@media screen and (max-width: 768px){
.level-item {
  width: 100%;
  height: auto;
}
}
.subtitle {
  font-size: 2em;
  text-align: center;
  margin-bottom: 8px;
}

.icon {
  height: auto;
}

.big {
  font-size: 1.5em;
}

.heading {
  font-size: 1.2em;
}

.description {
  font-size: 0.8em;
}
/* Signup & Login */
.customer {
  position: relative;
  width: 100%;
  max-width: 480px;
  height: 560px;
  margin: 0 auto;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 8px auto;
  padding-top: 48px;
}

.has-feedback {
  position: relative;
}

.form-control {
  padding-left: 2em;
}

.form-control-feedback {
  position: absolute;
  top: 30%;
  transform: translate(-50%);
  padding-left: 2em;
}

.form-group {
  width: 100%;
  margin: 0 auto 8px;
  max-width: 350px;
}

.form-item,
.input {
  width: 100%;
  margin: 0 auto;
  max-width: 350px;
}
/* Products */
.product-index {
  width: 95%;
  height: auto;
  padding-top: 84px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.products-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.product-box {
  height: auto;
  min-width: 30%;
  margin-bottom: 16px;
  text-align: center;
}
/* Indivisual Product */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234d4d4d' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234d4d4d' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-item img {
  width: 100%;
  border: solid 2px #f0f0f0;
}

.quantity-form {
  width: 20%;
  border: solid 1px #e6e6e6;
}

.media {
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 16px;
}

.media-column-middle ul,
h2,
h3,
li,
p {
  width: 100%;
}
@media screen and (min-width:768px) {
  .media-column-left {
    width: 30%;
  }

  .media-column-middle {
    width: 40%;
  }

  .media-column-right {
    width: 20%;
  }
}
/* oreders page */
.cart-container {
  width: 95%;
  height: auto;
  padding-top: 84px;
  margin: 0 auto;
}

.cart-form {
  width: 100%;
  margin: 0 auto 16px;
}

.line-item {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width:768px) {
  .checkout-link {
    width: 100%;
    margin: 0 auto 8px;
  }

  .line-itm-image {
    width: 20%;
  }

  .line-itm-name {
    width: 40%;
  }

  .line-itm-quantity {
    width: 20%;
  }

  .line-itm-total {
    width: 20%;
  }
}
@media screen and (max-width:767px) {
  .checkout-link {
    width: 100%;
    text-align: center;
    margin: 0 auto 8px;
  }

  .line-itm-image {
    width: 40%;
  }

  .line-itm-name {
    width: 50%;
  }

  .line-itm-quantity {
    width: 50%;
  }

  .line-itm-total {
    width: 40%;
  }
}

.empty-cart {
  width: 95%;
}
/* filter */
.filter {
  width: 95%;
  height: auto;
  text-align: center;
  margin: 0 auto 16px;
}
@media screen and (min-width: 768px) {
  .filter-nav {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  .filter-nav-item {
    width: 33%;
    margin: 0 auto;
  }

  .collapseItem li {
    list-style: none;
    text-indent: 0.5em;
  }
}

@media screen and (max-width: 767px) {
  .filter-nav {
    width: 70%;
    margin: 0 auto;
    text-align: left;
  }

  .filter-nav-item {
    width: 100%;
    margin-bottom: 8px;
  }

  .collapseItem li {
    list-style: none;
    text-align: left;
    width: 100%;
    text-indent: 0.5em;
  }
}
