<% if target && target.errors.any? %>
  <div id="errorExplanation" class="alert alert-danger" data-hook>
    <p>There are <%= target.errors.count%> problems with the following fields:</p>
     <ul>
       <% target.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
     <br/>
  </div>
<% end %>
