<section class="customer pt80">
<%= form_for (@location) do |f| %>　

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</section>
