<section class="search pt92">
  <h3 class="width90 wf-nicomoji mb8">We will deliver in 1 hour!</h3>
  <div class="width90 description" style="color: red;">*you can't actually order through this demo service (TT). Thanks for playing!!</div>
  <div class"search-item mb8">
    <input id="address" class="form-control mb8 search-item-list wf-nicomoji" type="textbox" value="Input your address">
    <input type="button" class="form-control btn-custom wf-nicomoji mb8 search-item-list" value="Search" onclick="codeAddress()">
  </div>
  <hr>
  <div id="map" style="width: 90%; height: 70%;">
</section>

<script>
let map
let geocoder

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.6935495, lng: 139.7092768},
  zoom: 15
  });
  marker = new google.maps.Marker({
        position: {lat: 35.6935495, lng: 139.7092768},
      map: map
  });
}

function codeAddress(){

  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<%= render 'api'%>
