<footer class="footer">
  <div class="copyright content has-text-centered">
    <span class="wf-nicomoji"><strong>©Minna no Organic</strong></span>
    <p>from 2018 by Jumpei Kawashima</p>
  </div>
</footer>
