<footer class="footer text-center">
  <div class="copyright font-grey">
    <span class="wf-nicomoji"><strong>©Minna no Organic</strong></span><br>
    from 2018 by Jumpei Kawashima
  </div>
</footer>
