<footer class="footer">
  <div class="content has-text-centered">
    <p class="copyright wf-nicomoji"><strong>©Minna no Organic</strong></p>
    <p>from 2018 by Jumpei Kawashima</p>
  </div>
</footer>
