<nav class="header navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Organic_V_color_size_4.png" width="75" height="50" style="background: white;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link wf-nicomoji font-grey indent" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link wf-nicomoji font-grey indent" href="#">About</a>
      </li>
    </ul>
    <a class="btn btn-custom wf-nicomoji font-grey indent" href='/signup'>Signup</a>
  </div>
</nav>

<a class="navbar-item" href="/"></a>

<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>
</div>

<div id="navbarBasicExample" class="navbar-menu">
<div class="navbar-start">
  <a class="navbar-item " href="/">
    Home
  </a>
  <a class="navbar-item wf-nicomoji" href="#">
    About
  </a>
  <a class="navbar-item wf-nicomoji" href="#">
    Contact
  </a>
</div>

<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <a class="button wf-nicomoji" href='/signup'>
        <strong>Sign up</strong>
      </a>
    </div>
  </div>
</div>
</div>
</nav>
